.cc{
   background-color: #e8eceb;
   background: #f4f6f5;
   background-color: #eff2f1;
   background-color: #cdcfce;
   background-color: #a7a6a5;
   background-color: #1c1f1e;
   background-color: #ffffff;
   background-color: #F5F5F5;
   background-color: #66ca98;
   background-color: #f4a3ec;
   background-color: #6295e2;
   background-color: #ff6c52;
   /* background-color: #ff7dc; */
   background-color: #ffdcfb;
   background-color: #e0eaf9;
   background-color: #ffe2dc;  
}

.cc{
   background-color: #b9d2f8;
   background: rgba(98, 149, 226, 0.2);
   background-color: #740174;
   background-color: #3ae705;
   background-color: #010499;
   background-color: #f50511;
   background-color: #f7076b;
   background-color: #9f06f8;
   background-color: #f507926b;
   background-color: #04a7a7;
   background-color: #6295e2;
   background-color: #ff6c52;
   background-color: rgba(176, 118, 3, 0.589);
   background-color: rgba(255, 108, 82, 0.706);
   background-color: rgba(102, 202, 152, 0.616);
   background-color: rgba(0, 73, 184, 0.562);  
}